doctype html
html
  head
    title Delicious Grapefruit
    link(rel="stylesheet", href="/color")
  body
    img(src="/pictureofgrapefruit", height="400px", width="800px")
    h1(class="grapefruitbackground") I enjoy grapefruits
    h2 You are a grapefruit
    h3 I will enjoy you
    a(href="http://www.sarcasmdetector.com") Happy Magic Unicorn Land
    br
    img(src="/pictureofgrapefruit", height="400px", width="800px")